---
import { getCollection } from 'astro:content';
import PageLayout from '@layouts/PageLayout.astro';
import Container from '@components/Container.astro';
import TagCloud from '@components/TagCloud.astro';

const experience = await getCollection('experience');

const tags = experience
  .filter((exp) => exp.data.company !== 'Western Washington University')
  .flatMap((entry) => {
    let tags = [];
    for (const t of entry.data.tech) {
      const [name, weight] = t.split(':');
      const freq = parseInt(weight ?? '1');
      for (let i = 0; i < freq; i++) {
        tags.push(name);
      }
    }
    return tags;
  });
---

<PageLayout title="Tech Tree" description="Technologies I've worked with">
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">Tech Tree</div>
      <div class="animate">
        <TagCloud tags={tags} />
      </div>
    </div>
  </Container>
</PageLayout>
<script></script>
