---
import Container from '@components/Container.astro';
import Link from '@components/Link.astro';
---

<header class="animate">
  <Container>
    <div class="flex flex-wrap justify-between gap-y-2">
      <Link href="/" underline={false}>
        <div class="font-semibold">mitch.rosenburg.us</div>
      </Link>
      <nav class="flex gap-1">
        <Link href="/experience">exp</Link>
        <span>•</span>
        <Link href="/tech-tree">tech</Link>
      </nav>
    </div>
  </Container>
</header>
